<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
  <!---<add key="dsn" value="Server=TANGO;Database=olinwone;User ID=carmen;Password=cms2001"/>-->
  <add key="dsn" value="Server=LOUCAZ\SQLEXPRESS;User Id=user;Password=1234;"/>
  </appSettings>
</configuration>